html{
  background-color: rgba(0, 0, 0, 0.894);
}

.h1{
  color: rgb(253, 253, 253);
  display: flex;
  justify-content: center;
  text-shadow: 0 0 4px rgba(252, 252, 251, 0.733);
  
} 

#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background: #333;
}

.logo img {
  max-width: 16em; 
  height: auto;
  border: solid rgb(150, 126, 80);
  


}

#navbar {
  list-style: none;
  display: flex;
  margin-left: auto; 
  padding: 0;
  

}

#navbar li {
  padding: 0 1em;
  text-shadow: 0 0 5px#f0c14b;
}

#navbar a {
  text-decoration: none;
  color: rgb(230, 203, 0);
  font-size: 1.1em; 
  
  
}
#navbar a:hover{
  background-color: rgba(242, 242, 155, 0.295);
  transition: background-color 0.2s ease;
  
}


@media (max-width: 500px) {
  #header {
    flex-direction: column;
  }

  .logo img {
    max-width: 100%; 
    margin-bottom: 1em;
  }

  #navbar {
    width: 100%;
    flex-direction: column;
    align-items: center; 
  }

  #navbar li {
    padding: 0.5em; 
  }

  #navbar a {
    text-align: center; 
    
  }
}




/* page1 product */
#product-showcase{
  position: relative;
  text-align: center;
  color:rgba(190, 190, 188, 0.881);
  
}

#product-image {
  width: 100%; 
  display: block; 
  margin-bottom: 50px;
  
}


#hero-content {
  position: absolute;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  max-width: 960px; 
  padding: 1em; 
  background: rgba(1, 0, 0, 0.7);
  z-index: 10;
}

.btn-learn-more{
  background-color: #f0c14b;
  color: #333;
  text-decoration: none;
  padding: 1em 2em;
  display: inline-block;
  border-radius: 1px;
  transition: background-color 0.2s ease;
  box-shadow: 0 6px 12px rgba(254, 247, 153, 0.723); 
  
}

.btn-learn-more:hover{
  background-color: #c3980b;
}


.html-link {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  
}

.html-link a {
  transition: transform 0.3s ease, box-shadow 0.3s ease; 
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  display: inline-block; 
}

.html-link a img {
  display: block;
  width: 100px; 
  height: auto;
  transition: transform 0.3s ease; 
  box-shadow: 0 6px 12px rgba(254, 247, 153, 0.353); 
}



.html-link a:hover img {
  transform: scale(1.1); 
}













/* quiz css */
/*
.body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  h2 {
    color: #333;
  }
  
  form {
    margin-bottom: 20px;
  }
 
  a:-webkit-any-link {
    color: -webkit-link;
    cursor:  */


